<div class="head-con">
  <h1>Log in</h1>
  <p>※登録したメールアドレスとパスワードを入力してください。</p>
</div>

<div class="login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <h4>mail </h4>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :size => 45 %>
    </div>

    <div class="field">
      <h4>password </h4>
      <%= f.password_field :password, autocomplete: "current-password", :size => 45 %>
    </div>

    
    <% if devise_mapping.rememberable? %>
      <div class="field">
      <h4></h4>
      <%= f.check_box :remember_me %>  
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

<%= render "users/shared/links" %>

<%= link_to "topページへ", actives_path %>
