<header>
  <div class="logo2">
    <%= link_to "EcoSteps", root_path %>
  </div>

 
  <div class="wordsearch-countainer">
    <div class="search-box">
      <%= form_tag({controller:"actives",action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
        <i class="fas fa-magnifying-glass"></i>
      <% end %>
      <% end %>
    </div>
  </div>  

  
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <div class="menu-content">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "マイページへ", user_path(current_user.id) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
          
          <!--
          <%= form_tag actives_path, method: :get, class: 'boards__searchForm' do %>
          
            <%= select_tag :tag_id,
                   options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                   {prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);'}
            %>
          <% end %>
          -->

            </div> 
            </div>                                    
        </ul>
      </div>
  </div>
</header>

<div class ="kari">
</div>

<div class="slide-box">
<div class="slide">
  <%= image_tag 'eco-bag.jpeg' %>
  <%= image_tag 'eco-bottle.jpeg' %>
  <%= image_tag 'eco-item.jpeg' %>
</div>

<div class="slide-center">
  <h1>EcoSteps</h1>
  <br>
  <h3>エコな社会へ、小さな一歩から</h3>
</div>  
</div>

<div class="NewPost">
  <h1>Posts</h1>
</div>

<hr>

<% if !@actives.blank? %>

  <div class="actives-container">
    <% @actives.each do |t| %>
      <div class="out-active">
        <div class="active">
          
          <div class="active-path" onclick="location.href='<%= active_path(t.id) %>'" style="cursor: pointer;">
            
            <figure> 
              <% if !t.image? %>
                <%= image_tag "default-photo.jpg", class:"active-image1" %>
              <% else %>
                <%= image_tag t.image_url, class: "active-image1" %>
              <% end %>
            </figure>

            <div class="post-top">
              <div class="post-time">
                <%= t.updated_at.strftime("%Y-%m-%d") %>
              </div>

              <div class="post-tag">
                <% t.tags.each do |tag| %>
                  <span><%= tag.name %></span>
                <% end %>
              </div>
            </div>

            <div class="post-title"> 
              <%= t.title %>
            </div> 
          </div> 

          <div class="active-under">

            <div class="active-user-box">
              <% if !t.user.image? %>
                <%= image_tag "user-icon.png", class:"profile-image1" %>
              <% else %>
                <%= image_tag t.user.image_url,  class: "profile-image1" %>
              <% end %>
              
              <% if user_signed_in? %>
                <%= link_to t.user.name, user_path(t.user.id) %>
              <% else %>
                <%= link_to t.user.name, new_user_session_path %>
              <% end %>
            </div>
            
            <div class="active-like">
              <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                  <%= link_to active_like_path(id: t.id, active_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to active_likes_path(id: t.id, active_id: t.id), method: :post do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                  <% end %>
                <% end %>
              <% else %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
              <% end %>
            </div>  
          </div>
        </div>  
      </div>
    <% end %>
  </div>

  <div class = "paginate">
    <%= paginate @actives %>
  </div>

<% else %>

  <div class="none-box">
    <br>
    <br>
    <br>
    <br>
  </div>
  
<% end %>

<div class="fixed-button">
  <% if user_signed_in? %>
    <%= link_to "新規投稿へ", new_active_path %> 
  <% else %>
    <%= link_to "新規投稿へ", new_user_session_path %>
  <% end %>
</div>