<div class="detail-title">
  <h1>Post</h1>
</div>

<div class="detail-box">

  <div class="detail-image">
    <% if !@active.image? %>
      <%= image_tag "default-photo.jpg", class:"active-image2" %>
    <% else %>
      <%= image_tag @active.image_url, class: "active-image2" %>
    <% end %>
  </div>

  <div class="detail-info">

    <div class="detail-up">
      <p><%= @active.title %></p>
    </div>
       
    <div class="detail-about">
      <p><%= @active.about %></p>
    </div>

    <div class="detail-under">

      <% @active.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>

      <div class="detail-time">
        <%= @active.updated_at.strftime("%Y-%m-%d") %>
      </div>

      <% if !@active.user.image? %>
        <%= image_tag "user-icon.png", class:"profile-image1" %>
      <% else %>
        <%= image_tag @active.user.image_url,  class: "profile-image1" %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to @active.user.name, user_path(@active.user.id) %>
      <% else %>
        <%= link_to @active.user.name, new_user_session_path %>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.already_liked?(@active) %>
          <%= link_to active_like_path(@active), method: :delete do %>
            <i class="fas fa-heart"><%= @active.likes.count %></i>
          <% end %>
        <% else %>
          <%= link_to active_likes_path(@active), method: :post do %>
            <i class="far fa-heart"><%= @active.likes.count %></i>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"><%= @active.likes.count %></i>
      <% end %>
    </div>
  </div>

</div>

<div class="detail-bottom">
  <div class="detail-comment">
      <h3>コメント一覧</h3>
        <% if @comments.blank? %>
          <p>コメントはまだありません</p>
        <% else %>
          <% @comments.each do |c| %>
            <div class="comment-box">
            <div class="comment-user">      
              <% if !c.user.image? %>
                <%= image_tag "user-icon.png", class:"profile-image1" %>
              <% else %>
                <%= image_tag c.user.image_url,  class: "profile-image1" %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to c.user.name, user_path(c.user.id) %>
              <% else %>
                <%= link_to c.user.name, new_user_session_path %>
              <% end %>
              <%= c.content %>
            </div>
            <div class="comment-edit">
              <% if user_signed_in? && current_user.id == c.user_id %>
                <%= link_to "編集する", edit_comment_path(c.id) %>
                <%= link_to "削除する", comment_path(c.id), method: :delete %>
              <% end %> 
            </div>
            </div>
          <% end %>
        <% end %>
        
    <div class="comment-new">
      <% if user_signed_in? %>
        <%= form_with(model: [@active, @comment], local: true) do |f| %>
          <%= f.text_area :content, :cols => 75, :rows => 2 %>
          <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> コメントする
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="detail-like">
    <h3>いいねしたユーザー</h3>
      <% @active.liked_users.each do |user| %>
        <div class="like-user">
          <% if !user.image? %>
            <%= image_tag "user-icon.png", class:"profile-image1" %>
          <% else %>
            <%= image_tag user.image_url,  class: "profile-image1" %>
          <% end %>
          
          <% if user_signed_in? %>
            <%= link_to user.name, user_path(user.id) %>
          <% else %>
            <%= link_to user.name, new_user_session_path %>
          <% end %>
        </div>
      <% end %>
  </div>

</div>

<div class="detail-edit-box">
  <% if user_signed_in? && current_user.id == @active.user_id %>
      <%= link_to "編集する", edit_active_path(@active.id) %>
      <%= link_to "削除する", active_path(@active.id), method: :delete %>
  <% end %> 
</div>